<h1>Country List</h1>

<ol>
    @{
        foreach(var obj in (List<string>)ViewData["Country"])
        {
            if (obj == "Bharat" || obj=="USA")
            {
                <li>@obj</li>
            }
        }
    }

</ol>