<html>
@{
    var human = ViewData["Human"] as MVC_Practice.Models.Human;
}
   
    <body>
        <h1>@human.HumanID</h1>
        <h1>@human.HumanName</h1>
        <h1>@human.HumanCity</h1>


    </body>


</html>
