

<html>
<body>
    @{
        var student = ViewData["Student"] as Wipro_MVC.Models.Student;
    }
    <div>StudentID::@student.StudentId</div>
    <div>StudentName::@student.StudentName</div>
    <div>StudentEmail::@student.StudentEmail</div>
    <div>StudentPhone::@student.StudentPhone</div>


</body>
</html>