@{

    var student = ViewBag.Student as Wipro_MVC_Student_ViewBag_02nd.Models.Student;
}
<div>
    StudentID:: @student.StudentID
    StudentName::  @student.StudentName
    StudentBranch:: @student.StudentBranch

</div>
